<header>
  <div class="logo-wrapper">
    <a class="logo nav" href="/" title="Homepage" style="font-weight: 700; font-size: 22px; letter-spacing: -0.5px; text-decoration: none; color: #1D1D1F;">
      SIFT Shortener
    </a>
  </div>
  <nav>
    <ul>
      {{#unless user}}
        {{#unless login_disabled}}
          <li>
            <a class="button primary" href="/login" title="Log in or sign up">
              Log in / Sign up
            </a>
          </li>
        {{/unless}}
      {{/unless}}
      {{#if user}}
        <li>
          <a class="button primary" href="/settings" title="Settings">
            <span>{{> icons/cog}}</span>
            Settings
          </a>
        </li>
        {{#if isAdmin}}
          <li>
            <a class="button secondary" href="/admin" title="Admin">
              <span>{{> icons/shield}}</span>
              Admin
            </a>
          </li>
        {{/if}}
        <li>
          <a class="nav" href="/logout" title="Log out">
            Log out
          </a>
        </li>
      {{/if}}
    </ul>
  </nav>
</header>