{{> header}}
<div class="login-signup-message">
  <h1>
    Logged out. Redirecting to homepage...
  </h1>
</div>
<script>
  setTimeout(function() {
    window.location.href = "/";
  }, 1000);
</script>
{{> footer}}