{{> header}}
<div class="login-signup-message">
  <h1>
    Logged out. Redirecting to login...
  </h1>
</div>
<script>
  setTimeout(function() {
    window.location.href = "/login";
  }, 1000);
</script>
{{> footer}}