{{> header}}
<section id="verify" class="section-container verify-page">
  {{#if token_verified}}
    <h2>
      Your account has been verified. Redirecting to homepage...
    </h2>
    <script>
      setTimeout(function() {
        window.location.href = "/";
      }, 1000);
    </script>
  {{else}}
    <h2>
      {{> icons/x}}
      Invalid verification. Please try again.
    </h2>
    <a href="/login" title="Log in or sign up">Log in / sign up →</a>
  {{/if}}
</section>
{{> footer}}
